---
icon: lucide/rocket
description: {{ project_description }}
tags:
  - installation
  - quickstart
  - presets
---

# Getting Started

## Installation

```bash
uv tool install {{ repository_name }}
{{ project_name }} --version
```
