name: publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      {# IMPORTANT: this permission is mandatory for Trusted Publishing #}
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/p/{{ project_name }}

    steps:
      - name: Check out at new tag
        uses: actions/checkout@v4
        with:
          ref: {% raw %}${{ github.event.release.tag_name }}{% endraw %}

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      - name: Build Package
        run: make build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          packages-dir: dist
