from pydantic_settings import BaseSettings, SettingsConfigDict


class Settings(BaseSettings):
    model_config = SettingsConfigDict(
        env_file=(".env.local", ".env"), env_ignore_empty=True, extra="ignore"
    )

    environment: str = "local"
    debug: bool = False
    server_host: str = "0.0.0.0"
    server_port: int = 8000


settings = Settings()
